th {
    border-bottom: 1px solid white;
    text-align: left;
}
tr,td,th {
    padding: 10px;
    text-align: left;
}
.btn{
    margin: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: whitesmoke;
    transition: .2s ease;
    border: 2px solid #c43e3e;
}
.btn:hover{
    background-color: #962626;
    border: 2px solid #962626;
}

.btn-target{
    background-color: #870101;
    border: 2px solid #870101;
    color: white;

}
.btn-target:hover{
    background-color: #c43e3e;
    border: 2px solid #c43e3e;
}
header{
    background-color: #212121;
    color: whitesmoke;
}
#title, #title:visited{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}
h1{
    display: inline;
}

#basketTable{
    width: 100%;
    padding: 10px;
}

#main{
    flex-direction: column;
}

body {
    flex-direction: row;
    flex: 1;
    display: flex;
    background-color: rgb(55, 0, 0);
    color: white;
}

hr {
    color: white;
}